@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f4; /* stone-100 */
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to   { transform: translateY(0); }
}